.card-paciente {
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082);
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

.div-botoes-paciente {
    display: grid;
    align-items: center;
    justify-content: end;
}

.div-botoes-paciente button {
    width: -webkit-fill-available;
}