.divMsg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content {
    text-align: center;
}

.lista-imagens table {
    background-color: white;
}

.opcao-remover {
    color: red !important;
}