.resetpass-container {    
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.resetpass-container form {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 16px;
}

.div-botao-enviar {
    text-align: center;
}